.section_navigation_bar {
    color: black;
    text-decoration-line: none;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 0%;
    align-items: center;
}

.section_single_manu {
    color: rgb(7, 6, 6);
    width: 10%;
    height: 40%;
    text-decoration-line: none;
    margin: 2%;
    align-items: center;


}


.section_menu_li {
    color: rgb(7, 6, 6);
    width: 100%;
    padding: 0%;
    align-items: center;

}

.section_menu_li:hover {
    background-color: rgb(218, 221, 211);
}

.section_menu_li:active {
    background-color: rgb(244, 107, 28);
}

.title_to_Board {
    text-decoration-line: none;
    color: black;
}

.title_li {
    color: rgb(7, 6, 6);
}

.active {
    background-color: rgb(218, 221, 211);
}

.active_menu {
    background-color: rgb(152, 205, 251);
    width: 10%;
    height: 40%;
    text-decoration-line: none;
    margin: 2%;
    align-items: center;
    
}
.forum_name{
    float: left;
    
}