.home_body {
    background-color: rgb(243, 244, 244);
    max-width: 75%;
    width: 75%;
    margin-top: 0.5%;
    align-items: baseline;
}

.dropdown_menu {
    position: absolute;
    right: 5%;
    margin: 0%;
    padding: auto;
}



.posting_box {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  background-color: rgb(214, 225, 234);
  margin: 4%;
  width: 93%;
  max-width: 93%;
  height: auto; /* Adjust height to accommodate content */
  justify-content: space-between; /* Align items with space-between */
}

.profile_box {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    /* Center vertically */
    //background-color: azure;
    height: 27%;
}

.profile_img {
    width: 60px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    object-fit: cover;
}

.profile_name {}

.IT_NEWS {
    float: left;
}

.img_post {
    width: 120px;
    max-width: 120px;
    height: 80px;
    //position: absolute;
    margin-right: 3%;
}



.profile_img_and_name {
    display: flex;
    align-items: center;
    /* Center vertically */
    width: 80%;
    margin: 1%;

    //background-color: rgb(141, 141, 37);
}

.title_div {
    margin: 0%;
    //height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    //background-color: aqua;
    padding-left: 3%;
}

.board_title {
    align-items: center;
    //background-color: aliceblue;
    //margin-bottom: 8%;
    justify-content: space-between;
    //padding-bottom: 12%;
    max-width: 100%;
    //bottom: 1%;
}

.board_title_and_likes {
    //background-color: red;
    margin-top: 3%;
    align-items: center;
    max-width: 80%;
}

.likes_and_comment {
    width: 40%;
    display: flex;


    margin: 0%;
    justify-content: space-between;

    //background-color: aqua;
    margin-bottom: 1%;
    padding-top: 3%;
}
