.whole_box {
    background-color: rgb(243, 244, 244);
    max-width: 75%;
    width: 100%; /* Adjusted width */
    margin-top: 0.5%;
    align-items: baseline;
  }
  
  .data_chart {
    width: 100%; /* Adjusted width */
    height: 400px;
  }
  
  .title{
    margin: 3%;
  }